h2 {
  text-align: center;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #292929;
  margin-bottom: 2rem;
  max-width: 100%;
  order: 2;
  padding-bottom: .5rem;
}


.botoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
  background-color: transparent;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-group {
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: flex-start; /* Alinha à esquerda */
  margin-bottom: 10px;
  width: 100%;
}

.input-group input {
  width: auto; /* Ajusta a largura para não ocupar 100% */
  margin-right: 10px; /* Espaçamento entre o input e o botão */
}

.p-button {
  margin-left: 10px; /* Espaçamento para manter distância entre o input e o botão */
  flex-shrink: 0; /* Impede o botão de encolher */
}

@media only screen and (max-width: 600px) {
  .input-group {
    flex-direction: column; /* Empilha os elementos em telas menores */
    align-items: flex-start; /* Alinha à esquerda */
  }

  .input-group input {
    width: 100%; /* Input ocupa a largura total em telas menores */
    margin-right: 0; /* Remove espaçamento lateral */
  }

  .p-button {
    width: 100%; /* Botão ocupa a largura total em telas menores */
    margin-left: 0; /* Remove margem à esquerda */
  }
}
