.surface-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

h2 {
  text-align: center;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  color: #292929;
  margin-bottom: 2rem;
}

.text-red-600 {
  color: #ff0000;
}

.text-green-600 {
  color: #00ff00;
}

.forms {
  width: 100%;
}

.button-container {
  margin-top: 20px;
}
