<app-menu></app-menu>
<br><br>
<div class="form-container surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <div class="text-center mb-5">
    <h2>Cadastro de dados</h2>
    <div *ngIf="formInvalid" class="text-red-600 font-medium line-height-3">
      O formulário contém erros. Preencha todos os campos corretamente.
    </div>
    <div *ngIf="erroSQL" class="text-red-600 font-medium line-height-3">
      Não foi possível cadastrar. Verifique se há dados incorretos.
    </div>
    <div *ngIf="cadastroSucesso" class="text-green-600 font-medium line-height-3">
      Dados cadastrados com sucesso!
    </div>
    <div class="text-red-600">{{ erroUsuario }}</div>
  </div>

  <table class="forms">
    <tr>
      <td><label htmlFor="cadastro">Condutor já cadastrado?</label></td>
      <td><p-checkbox [(ngModel)]="usuarioJaCadastrado" [binary]="true" inputId="cadastro"></p-checkbox></td>
    </tr>
    <tr>
      <td><label htmlFor="marca">Marca do carro:</label></td>
      <td><input pInputText class="p-inputtext-sm" id="marca" [(ngModel)]="dado.marcaCarro" required></td>
    </tr>
    <tr>
      <td><label htmlFor="modelo">Modelo do carro:</label></td>
      <td><input pInputText class="p-inputtext-sm" id="modelo" [(ngModel)]="dado.modeloCarro" required></td>
    </tr>
    <tr>
      <td><label htmlFor="placa">Placa do carro:</label></td>
      <td><input pInputText class="p-inputtext-sm" id="placa" [(ngModel)]="dado.placaCarro" required></td>
    </tr>
    <tr>
      <td><label htmlFor="ano">Ano do carro:</label></td>
      <td><p-inputNumber class="p-inputtext-sm" id="ano" [(ngModel)]="dado.anoCarro" [useGrouping]="false"></p-inputNumber></td>
    </tr>
    <tr *ngIf="!usuarioJaCadastrado">
      <td><label htmlFor="nome">Nome completo do condutor:</label></td>
      <td><input pInputText class="p-inputtext-sm" id="nome" [(ngModel)]="dado.aluno" required></td>
    </tr>
    <tr>
      <td><label htmlFor="matricula">Matrícula:</label></td>
      <td><p-inputNumber class="p-inputtext-sm" id="matricula" [(ngModel)]="dado.matriculaAluno" [useGrouping]="false"></p-inputNumber></td>
    </tr>
    <tr>
      <td><label htmlFor="codigo">Código da etiqueta:</label></td>
      <td><input pInputText class="p-inputtext-sm" id="codigo" [(ngModel)]="dado.codigoEtiqueta"></td>
    </tr>
    <tr>
      <td><label htmlFor="validade">Validade da etiqueta:</label></td>
      <td><p-calendar id="validade" [(ngModel)]="dado.validadeEtiqueta" [showIcon]="true" [showTime]="true" [showSeconds]="true"
          dateFormat="yy-mm-dd"></p-calendar></td>
    </tr>
    <tr>
      <td><label htmlFor="cnh">CNH é válida?</label></td>
      <td><p-checkbox [(ngModel)]="dado.CNHvalida" [binary]="true" inputId="cnh"></p-checkbox></td>
    </tr>
  </table>

  <!-- Colocar o container de botões fora da tabela -->
  <div class="button-container">
    <p-button label="Enviar" [rounded]="true" severity="success" class="w-full" (click)="addDados()"></p-button>
    <br><br>
    <p-button label="Escanear QRcode" [rounded]="true" severity="success" class="w-full" (click)="escanear()"></p-button>
  </div>
</div>
